<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/courseFilter.css') }}">
    </head>
    <body>

        <div class="header">
        <h1 align="center">IITI Code Management</h1>
        <div class="subheader">
            {% if admin %}
                <a href="{{url_for('signup')}}">Add Teacher |</a>
            {% endif %}
          <a href="{{url_for('addArticle')}}">Add Article |</a>
          <a href="{{url_for('myprofile')}}">My Profile |</a>
          <a href="{{ url_for('logout') }}"> Logout</a>
          <hr size=2>
        </div>
        </div>
        <div class = "wrapper">
        <div class="coursefiltertop" align="center">
        	{{coursecode}} <br>
        	{{description}} <br>
        </div>
        <br><br>
        <div class="coursefiltermain" align="left">
        <table align = "center">
            <tr>
                <th>Article Title</th>
                <th>Rating</th>
                <th></th>
            </tr>
            <form class="" action="{{url_for('viewArticle')}}" method="post">
                    {% for row in data %}
                    <tr>
                    <td>{{row[0]}}</td>
                    <td>
                        {{row[2]}}
                    </td>
                    <td>
                        <button type="submit" name="inputArticleTitle" value="{{row[1]}}">Open</button>
                    </td>
                    </tr>
                    {% endfor %}
            </form>
        </table>
        </div>
    </div>


        <a href="{{url_for('getHomepage')}}">Back</a>



    </body>
</html>
