<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <style media="screen">
          textarea {
              border: 0 none white;
              overflow: hidden;
              padding: 0;
              outline: none;
              background-color: #D0D0D0;
          }
        </style>
        <link type="text/css" href="{{ url_for('static',filename='styles/editArticle.css') }}" rel="stylesheet"/>
        <script type="text/javascript" src="{{url_for('static', filename = 'script/jquery-3.4.1.js')}}">
        </script>

        <script>
        $(document).ready(function(){
          $("#load").click(function(){
            var c = $("#my_variable").val();
            $("#EditCode").val(c);
          });
        });
        </script>

    </head>
    <body>
         <div class="header">
        <h1 align="center">IITI Code Management</h1>
        <div class="subheader">
            {% if admin %}
                <a href="{{url_for('signup')}}">Add Teacher |</a>
            {% endif %}
          <a href="{{url_for('addArticle')}}">Add Article |</a>
          <a href="{{url_for('myprofile')}}">My Profile |</a>
          <a href="{{ url_for('logout') }}"> Logout</a>
          <hr size=2>
        </div>
        </div>
        <input type="hidden"  id="my_variable" value="{{ data }}">
        <form class="" action="{{url_for('EditArticle')}}" method="post">
          <textarea name="CodeEdit" id="EditCode" rows="35" cols="100" style="height:1em; width:200px;" placeholder="Enter Your Code Here*"></textarea>
          <br>
          <button type='button' id="load">Load my Code</button>
          <button type='submit' name='btn' value='Edit Code'>Update Code</button>
        </form>

        <script src="{{ url_for('static',filename='script/addArticle.js') }}"></script>
    </body>
</html>