<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/loginpage.css') }}">
</head>
<body>
    <div class="wrapper">
     <h1>IITI Code Management</h1>
     <hr>
        <form action='{{main}}' method = "POST">
            {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}</p>
            {% endif %}

            <label id="icon" for="inputUsername"><i class="fafa-user">#</i></label>
            <input type="name" id="inputUsername" name = "inputUsername" class="form-control" placeholder="Username">

            <label id="icon" for="inputPassword"><i class="fafa-user">#</i></label>
            <input type="password" id="inputPassword" name = "inputPassword" class="form-control" placeholder="Password">
            <br><br>

            <input type="submit" name = "btn" id = "guest" value = "Sign In">
            <br><br>
            <input type="submit" name = "btn" id = "guest" value = "Login as guest">
            <hr>
            <div class="crtacc">
                <a href="{{url_for('signup')}}">Don't have an account. Sign Up here?</a>
            </div>
        </form>
    </div>


</body>
</html>
