<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/loginpage.css') }}">
</head>
    <body>
        <div class="">
            <h5 class="">Sign In</h5>

            <form class="form-signin" action='' method = "POST">
                {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
                <div class="form-label-group">
                    <input type="name" id="inputEmail" name = "inputUsername" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputEmail">Email address</label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" name = "inputPassword" class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Password</label>
                </div>

                <button class="" type="submit">Sign in</button>

            </form>
        </div>

	</body>
</html>
