<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/loginpage.css') }}">
</head>
    <body>
        <div class="">
            <h5 class="">Sign In</h5>

            <form class="form-signin" action='{{main}}' method = "POST">
                {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
                <div class="form-label-group">
                    <input type="name" id="inputUsername" name = "inputUsername" class="form-control" placeholder="Username">
                    <label for="inputUsername">username</label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" name = "inputPassword" class="form-control" placeholder="Password">
                    <label for="inputPassword">Password</label>
                </div>

                <input class="" type="submit" name = "btn" id = "guest" value = "Sign In">
                <input class="" type="submit" name = "btn" id = "guest" value = "Login as guest">

                <a href="{{url_for('signup')}}">Don't have an account. Sign Up here?<a>

                br<a href="">Administrative Login</a>
            </form>
        </div>

	</body>
</html>
