<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/myprofile.css') }}">
    <title>My Profile</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

    <div class="header">
        <h1 align="center">IITI Code Management</h1>
        <div class="subheader">
            <div class = "leftalign">
                <a href=" {{ url_for('getHomepage') }}" >Home</a>
            </div>
            <div class = "rightalign">
            {% if admin %}
                <a href="{{url_for('signup')}}">Add Teacher |</a>
            {% endif %}
                <a href="{{url_for('addArticle')}}">Add Article |</a>
                <a href="{{url_for('myprofile')}}">My Profile |</a>
                <a href="{{ url_for('logout') }}"> Logout</a>
            </div>
            <br>
          <hr size=2>
    </div>
    </div>
    <div class="Profile">
    	Name: {{name}}<br>
    	Email address: {{email}}<br>
    	Phone No1: {{phnno1}}<br>
    	Phone No2: {{phnno2}} <br>
        <a href="{{url_for('myArticleFilter')}}">My Articles</a>
    </div>






</body>
</html>
