<!DOCTYPE html>
<html>
<head>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<h2 align="center">IITI Code Management</h2>
<div class="header" align="right">
  <a href=" ">My Profile</a> <a href="{{ url_for('logout') }}"> Logout</a>
  <hr size=2>
</div>
<div class="Profile" align="center">
	Name: {{name}}<br>
	Email address: {{email}}<br>
	Phone No1: {{phnno1}}<br>
	Phone No2: {{phnno2}} <br>
</div>

<a href=" {{ url_for('getHomepage') }}">Back</a> 





</body>