<!DOCTYPE html>
<html>
	<head>
		<title>Tag Filter</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tagFilter.css') }}">
	</head>
	<body>
		<div class="header">
        <h1 align="center">IITI Code Management</h1>
        <div class="subheader">
           <div class = "leftalign">
                <a href=" {{ url_for('getHomepage') }}" >Home</a>
            </div>
            <div class = "rightalign">
            {% if admin %}
                <a href="{{url_for('signup')}}">Add Teacher |</a>
            {% endif %}
                <a href="{{url_for('addArticle')}}">Add Article |</a>
                <a href="{{url_for('myprofile')}}">My Profile |</a>
                <a href="{{ url_for('logout') }}"> Logout</a>
            </div>
            <br>
          <hr size=2>
        </div>
        </div>
		{% if number==0 %}
			<script type="text/javascript">
            alert("{{tagsizezero}}");
    		</script>
		{% endif%}
		<div class = "wrapper">
		<div class="tagfiltertop" align="center">
				The articles have been filtered according to your choice
		</div>
		<br><br>
		<div class="tagfiltermain" align = "left">
			<table align = "center">
            <tr>
                <th>Article Title</th>
                <th>Rating</th>
                <th></th>
            </tr>
				<form class="" action="{{url_for('viewArticle')}}" method="post">
					 {% for row in data %}
                    <tr>
                    <td>{{row[0]}}</td>
                    <td>
                        {{row[3]}}
                    </td>
                    <td>
                        <button type="submit" name="inputArticleTitle" value="{{row[1]}}">Open</button>
                    </td>
                    </tr>
                    {% endfor %}
				</form>
			</table>
		</div>
		</div>

	</body>
</html>
