<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2 align="center">IITI Code Management</h2>

        <div class="header" align="right">
          <a href="{{url_for('addArticle')}}">Add Article</a>
          <a href="{{url_for('myprofile')}}">My Profile</a>
          <a href="{{ url_for('logout') }}"> Logout</a>
          <hr size=2>
        </div>
        <!-- <textarea name="name" rows="8" cols="80" readonly> -->
            <pre><code data-language = "c">
                {% if data %}
                    {{data}}
                {% else %}
                    Error Reading Data from File!
                {%endif%}
            </code></pre>
         <!-- </textarea> -->
        <br>
        {% if comments %}
            {% if comments|length>0 %}
                {%- for item in comments recursive %}
                    <li>{{ item.text }}</li>
                    {%- if item.children -%}
                        <ul class="children">{{ loop(item.children) }}</ul>
                    {%- endif %}
                {%- endfor %}
            {% endif %}
        {% endif %}

        <a href="{{url_for('getHomepage')}}">Back</a>

        <!-- <form class="" action=" " method="post">
            <input type="image" src="likebutton.png" name="actionrating" value="like">{{rating}}<input type="image" src="dislikebutton.jpeg" name="action" value="dislike">
        </form> -->

        <link type="text/css" href="{{ url_for('static',filename='styles/monokai.css') }}" rel="stylesheet"/>
        <script type="text/javascript" src="{{url_for('static', filename = 'script/rainbow-custom.min.js')}}">

        </script>
    </body>
</html>
