<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2 align="center">IITI Code Management</h2>

        <div class="header" align="right">
          <a href="{{url_for('addArticle')}}">Add Article</a>
          <a href="{{url_for('myprofile')}}">My Profile</a>
          <a href="{{ url_for('logout') }}"> Logout</a>
          <hr size=2>
        </div>
        <textarea name="name" rows="8" cols="80" readonly>
            <pre><code>
                {% if data %}
                    {{data}}
                {% else %}
                    <p><b>Error Reading Data from File!</b></p>
                {%endif%}
            </code></pre>
         </textarea>
    <br>
    <a href="{{url_for('getHomepage')}}">Back</a>

    </body>
</html>
