@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Galada';

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}
* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}
:focus {outline:none}
/*Reset*/

body,input{
  font-family:'Open sans',sans-serif;
  font-size:18px;
  color:#4c4c4c;
}
body{
  background-color:#d9d9d9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
input{
  border:none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
a:hover{
  color: rgba(255, 152, 0, 0.79);
  text-decoration: underline;
  
}
input[type=text] {
  width: 450px;
  height: 25px;
  /*border:1px solid #cbc9c9;*/
  padding-left:5px;
  background-color:#d9d9d9;
  color:#000000; 
  /*margin-left:-5px;*/
  margin-top:3px;
  border-radius:0px 3px 3px 0px;
  -webkit-border-radius:0px 3px 3px 0px;
  -moz-border-radius:0px 3px 3px 0px;
}
button[type=submit]{
  width: 150px;
  height: 25px;
  margin-left:17px;
  border-radius:3px;
  background-color:#000000;
  color:#f8f8f8;
  border-radius:2px 2px 12px 12px;
  -webkit-border-radius:2px 2px 12px 12px;
  -moz-border-radius:2px 2px 12px 12px;
 
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 0.7; /* Firefox */
}
button[type=submit]:hover{
  background-color:#a6a6a6;
  color:#f8f8f8; 
  cursor:pointer;
  
}

.editArticle a{
  width: 170px;
  height: 25px;
  margin-left:17px;
  border-radius:3px;
  background-color:#000000;
  color:#f8f8f8;
  border-radius:2px 2px 12px 12px;
  -webkit-border-radius:2px 2px 12px 12px;
  -moz-border-radius:2px 2px 12px 12px;
  font-size:13px;
 
}
.editArticle a:hover{
  background-color:#a6a6a6;
  color:#f8f8f8; 
  cursor:pointer;
  
}
.header{ 
  /*height: 280px; */
  /*border-radius:5px;*/
  text-align:center;
  height:165px;
  /*-moz-border-radius:5px;
  -webkit-border-radius:5px;*/
}
.header h1{
  margin: auto;
  width: 343px;
  color:#000000;
  letter-spacing:8px;
  text-align:center;
  padding-top:5px;
  padding-bottom:5px;
}
.header hr{
  opacity:1;
  
}
.subheader{
 display:inline;
}
.leftalign{
  float:left;
}
.rightalign{
  float:right;
}
.subheader a{
  color:#000000;
}
.wrapper {
  margin-left:500px;
  width: 815px; 
  height: 300px; 
  border-radius:5px;
  align-content:center;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.wrapper hr{
  opacity:1;
}
.wrapper select{
  width: 200px;
}

.middle{
	align-content:center;
}
